<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">
  <test name="ChromeTest">
      <parameter name="browser" value="chrome"/>
      <parameter name="excel" value="D:/UploadFilesDemo/Kohler.xlsx"/>
      <parameter name="driverPath" value="D:/office/WebDrivers/chromedriver.exe"/>
    <classes>
      <class name="Running.ExecutionTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="FirefoxTest">
      <parameter name="browser" value="firefox"/>
      <parameter name="excel" value="D:/UploadFilesDemo/Freshworks.xlsx"/>
      <parameter name="driverPath" value="D:/office/WebDrivers/geckodriver.exe"/>
    <classes>
      <class name="Running.ExecutionTest"/>
    </classes>
  </test>
  <!--<test name="IETest">
      <parameter name="browser" value="IE"/>
      <parameter name="excel" value="D:/UploadFilesDemo/Google.xlsx"/>
      <parameter name="driverPath" value="D:/office/WebDrivers/iedriver.exe"/>
    <classes>
      <class name="Running.ExecutionTest"/>
    </classes> 
  </test> -->
</suite> <!-- Suite -->
